<!--footer-->
      <div class="footer">
                    <div class ="container-fluid">
                        <div class="content">
            <div class="row" id="foot">
               <div class="col-xs-1">
           <a href="/lodges">Lodges</a><br>
           <a href="/dinning">Dinning</a><br>
            <a href="/offers">Offers</a><br>
             <a href="/activities">Activities</a>
        </div>
              <div class="col-xs-1">
                  <a href="/contact">Contact</a><br>
           <a href="/careers">Careers</a><br>
            <a href="/pricing">Pricing</a><br>
             <a href="/culture">Culture</a>
              </div>
              <div class="col-xs-8 subs">
            <p class="text-center">Subscribe to our newsletter:</p>
                    <div class="widget-subscribe-form-result"></div>
                    <div id="mc_embed_signup">
                       <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate nobottommargin" target="_blank" novalidate="novalidate">
                          <div class="input-group divcenter">
                             <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Please enter your email here" aria-required="true">
                             </div>
                             <div id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none">
                                </div>
                                <div class="response" id="mce-success-response" style="display:none">
                                </div>
                             </div>
                             
                             <span class="input-group-btn">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                                
                             </span>
                          </div>
                       </form>
                    </div>
                  </div>
              <!--social media-->
              <div class="col-xs-2 social">
                <p class="text-center follow">
                  Follow us on
                  </p>
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-instagram"></a>
                  <a href="#" class="fa fa-youtube"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  
          </div>
      </div>
                            <hr>
    <p class="text-center contact">Contact:   +977981-234-5612            Email:nigaloorganics@outlook.com</p>
              </div>
      </div>
      </div>
<!--copyright-->
      <div class="copyright text-center">
          <p>&copy; 2017 Nigalo Organics  &emsp; &emsp;      Site by sabinsapkota</p>
      </div>
</body>
</html>