/**media-screen**/

@media screen and (max-width:1199px){
    .forum{
        margin:15px 20% !important;
    }
    .contact>.par{
    margin:20px 120px!important;
    }
   
     
    
}

@media screen and (max-width:880px){
    .forum{
        margin:15px 5% !important;
    }
    .contact>.par{
    margin:20px 80px !important;
    }
   .carousel-caption h4,p{
   top: 20% !important;
}
    
     .carousel-caption h4{
   font-size: 20px;
}
    .carousel-caption p{
   font-size: 14;
        width:350px;
        margin: 0px auto;
        text-align:center;
    }
    
    
    
}

@media screen and (max-width:479px){
    .forum{
        margin:0px 0px !important;
    }
    .contact>.par{
    margin:20px 20px !important;
    }
    .carousel-caption h4,p{
   top: 10%;
}
    
     .carousel-caption h4{
   font-size: 12px;
}
    .suggestion h4{
   font-size: 13px;
}
    .carousel-caption p{
   font-size: 8px;
        width:250px;
        margin: 0px auto;
        text-align:center;
    }
    
  #subscribe-form
    {
        margin: 0% !important;
        padding: 0% !important;
        width: 100% !important;
    }
    
   .lodges>h1
    {
        font-size: 16px !important;;
    }
    
    .az
{
    padding-left: 40% !important;
   
}
}

                        /**<------------------------------------------------------------------------------------->**/ 



/**body **/

body, html { 
    overflow-x: hidden;
   font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.container-fluid{
padding:0px !important;
    margin: 0px !important;
}

h1{
    padding: 1% 0% !important;
    margin: 0px !important;
    font-size:32px;
    color: #027733;
    font-weight: 800;
}

h2{
   
    font-size:22px;
    color: #027733;
    font-weight: 800;
    text-align: center;
}


h3
{
    font-size:16px;
    color: #027733;
    padding: 1% 0px !important;
    margin: 0px !important;
    font-weight: 600;
    text-align: center;
}

h4
{
    padding: 2% 0% !important;
    margin: 0px !important;
    font-size:32px;
    color: white;
    font-weight: 800;
}
.nigalo{
    font-family:'Montserrat', sans-serif;
    font-size:20px;
    color:#027733
}


.nig{
    background-color: #027733;
    border: none;
    text-align: center;
    
}
.just
{
    text-align: justify;
}


/**form.panel **/

.panel
{
    margin: 1% 30%;
    border-radius: 0 !important;
    border: 4px solid #027733; 
  
}

.panel-heading
{
    background-color:white !important;
    border: none;
    height: 50px;
    border-bottom: solid 1px #B3B6B7;
}

.panel-body
{
   
}

.form-group
{
    margin:2% auto;
    padding: auto;
    object-position: center;
    text-align: left;
}

.form-control
{
    border-radius: 0;
    border: 2px solid #027733;
}

/**buttons**/
.btn-group
{
    margin:auto;
}

.btn1
{
    background-color: #027733;
    color:white;
    border-radius: 0;
    margin-bottom: 2%;
   
}

.btn2
{
    border-radius: 0;
    border: 2px solid #027733;
    color: #027733;
    background-color: white;
    margin-bottom: 2%;
    
}

#mc-embedded-subscribe
{
    border-radius: 0;
    background-color:#027733;
    color: white;
    height:34px;
    border:none;
}
#mce-EMAIL
{
    border-radius: 0;
    border: 1px solid #027733;
    color: #027733;
    background-color: white;
    height:34px;
}
.control-label
{
    text-align: left !important;
}

.submission
{
    margin: 0px auto !important;
    padding: 0px auto !important;
}

                     /**<------------------------------------------------------------------------------------->**/


/**navbar**/
#navbar a:hover { 
text-decoration: none;
    color:#027733;
} 
#navbar a{
    color:black; 
}
.navbar-brand{
font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#027733 !important;
}
                     

                   /**<------------------------------------------------------------------------------------->**/



/**carousel**/
.carousel
{
    
  
}

                   /**<------------------------------------------------------------------------------------->**/



/**index-welcome**/

.index
{
    width:100%;
}
.welcome
{
    background-color:#F8F9F9;
    padding:1% 5%;
}
.welcome-text
{
    text-align: left;   
}

.welcome .booking
{
     
    text-align: right
}

/**index-rating**/


/**features**/

.features
{
    margin: 0% 3%;
}
.features .col-md-4
{
    padding:2% 1.5%;
    text-align: center;
  
    margin: 1% 0%;
   
    
}

.features .row
{
    margin:0px 75px;
    column-gap: 30px;
}


.highlight
{
    text-align:justify; 
}
/** images for features **/


.circle
{
    display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.show
{
    width: auto;
  height: 100%;
  margin-left: -50px;
}


/**offer*/

.offer
{
     background-image:url("http://res.cloudinary.com/dgezrstzt/image/upload/v1502517440/hotel-compressed_ny64oq.jpg");
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    color: #F8F9F9;
}


/**reviews**/

.review
{
     height:auto;
    background-color: white;
}
.review .row
{
    padding:2% 20%;
}

.review .left
{
    border-right: 1px solid #ccc;
}
.display
{

}

.imgdisplay
{
   background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 450px;
    
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 30px;
  transition: .5s ease;
    opacity: 0.8;
   padding:0px;
  margin:0px;
}

.contain{
  position: relative;
 
  padding:0px;
  margin:0px;
}
.contain:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contain .col-md-4 {
  padding: 0;
}

/**mail**/
.mail
{
    padding:2%;
    border: none !important;
    background-color: #F8F9F9;
    
    
}
.glyphicon-envelope
{
    color:green;
    font-size: 42px;
}

#subscribe-form
{
    width: 50%;
    margin: auto;
    border: 3px solid darkgreen;
}

/**map**/
#map
{
 height: 400px;
 width: 100%;
 overflow: hidden;
 object-fit: cover;
 
    float:left;
  clear:none;  
margin: 0 !important;
}
.info
{
    background-color: #027733;
    height: 400px;
    
    float:left;
    clear:none;  
    
}

.infotext
{
    padding: 25% 10%;
    color:white;
    margin: auto;
    text-align: center;
    font-weight: 400;
}
                   /**<------------------------------------------------------------------------------------->**/


/**overview**/

.overview-header{
    width:100%;
    max-height:590px;
    
}
.overimage {
  width: 100%;
  object-fit: cover;
     max-height:590px;
  }

.overview>.content{
    margin:1% 3%;
  
    height:auto;
}

.aboutus{
    margin:0% 40px;
    text-align: justify;
}
.values{
    margin:20px 30px;
}
.values .content{
    margin:30px 20px;
    border-color:none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.values .val{
    margin:0% 20px;
    text-align: justify;
}
                   /**<------------------------------------------------------------------------------------->**/

/**lodges **/

.lodges{
    margin:15px 3%;
}
.lodges>.intro{
    
    height:auto;
}

.lodges>.intro>.content{
    margin:10px;
    
}

.lodge-content
{
    padding:14px;
}

.room{
    margin-top: 30px;
    margin-bottom: 30px;
}

.scenary
{
    background-image: url("http://res.cloudinary.com/dgezrstzt/image/upload/c_scale,h_402,q_100/v1509844953/sunrise-2906321_wsrpxy.jpg");
    height: 350px;
    width:100%;
}
.amenities
{
    text-align: center;
}

                  /**<------------------------------------------------------------------------------------->**/

/**booking**/

.register .row{
    margin-top:1%;
}
.register>.intro{
    height:200px;
    width:100%;
    margin-top: 1%;
    
}
#book-content{
    margin: 2% 8% !important;
    
}
.record{
    margin:60px 60px;
    height:auto;
    border: 1px solid #027733;
   
}
.record form{
    margin:60px 100px;
    padding-bottom: 20px;
}

.az
{
   
   
}
                  /**<------------------------------------------------------------------------------------->**/

/**Recreation**/
.offers{
    margin-top: 2%;
    margin-bottom: 50px;
}

.offers>.div{
    margin:40px 60px;
    border: 1px solid #027733;
}

.offers .off{
    padding:20px 3%;
    text-align: justify;
}
.offer-content
{
    padding: 60px 15px 15px 15px ;
}
.room .row
{
    margin-bottom:40px;
}
.room
{
    text-align: center;
}
       
.amenities
{
    margin: 0% 6%;
}
                /**<------------------------------------------------------------------------------------->**/


/**Activities**/
.activitylist
{
    margin:auto;
}



.event
{
   margin:40px 10%;
    border: none;
    box-shadow: 5px 5px 5px #F0F3F4;
    height: auto;
}

                /**<------------------------------------------------------------------------------------->**/

/**contact**/
.contact{
    margin-top: 2%;
}

.contact .par{
   
    background-color: #f1f1f1;
}
.subbut{
    background-color:green;
    color:white;
}

.suggestion
{
    background-color: #027733;
    height:auto;
    width: 100%;
}

.advice
{
    padding:1% 12%;
    color:white;
    text-align: center;
    margin: 0% auto;
    
}
               


/**Sustainability**/
.infolist
{
    margin:40px 5%;
    border: none;
    background-color:#F8F9F9;
}

.sustain-header h1
{
    margin-top: 0% !important;
}


                                 /**<------------------------------------------------------------------------------------->**/

/**amenities**/
.servicelist
{
    margin:0% 10%;
    text-align: left;
    line-height: 28px;
}

.servicelist h3
{
    text-align: left;
}

.am1
{
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.am2
{
    margin-left: 0px !important;
    padding-left: 0px !important;
}

/**career**/

.careers .row{
    background-color:#f1f1f1;
}


.careers .intro
{
   height:370px;
}

.careers .content{
    padding:40px 40px;
}

                  /**<------------------------------------------------------------------------------------->**/

/**awards**/

.award{
  /*depnding on the screen size the pixel should change automatically, but just adding width for demo. Change the width to 200,300,500, 1000. should work*/
  width:700px;
  max-width:100%;
}
.aw-img{
   display: flex; 
    justify-content: space-around;
    margin:10px 40px;
}
.imga{
  width: 17%;
  height:auto;
}

                  /**<------------------------------------------------------------------------------------->**/

/**footer**/
.footer
{
    height:auto;
    width: 100%;
    background-color:black;
    color:darkgray;
}

.footer .left
{
    padding: 1% 0%;
    text-align: center;
    
}

.footer .right
{
    text-align: center;
    padding-right:0%;
    
}
.fa
{
    padding: 3%;
    font-size: 20px;
    width: 26px;
    text-align: center;
    text-decoration: none;
    color:darkgray;
}
