body, html { 
    overflow-x: hidden;
   font-family: 'Libre Baskerville', serif;
}
/**navbar**/
#navbar a:hover { 
text-decoration: none;
    color:#027733;
} 
#navbar a{
    color:black; 
}
.navbar-brand{
font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#027733 !important;
}
/**carousel**/
.pic{
    width:100%;
}
.carousel>.carousel-inner{
    max-height:590px;
     width: 100%;
}
.carousel-caption{
    margin:150px;
    
}

.h4{
    padding: 0px !important;
    margin: 0px !important;
    font-size:18px;
}
/**index-intro**/
.index>.intro{
    height:auto;
    margin:60px 0px;
    width:100%;
}
.nigalo{
    font-family:'Montserrat', sans-serif;
    font-size:20px;
    color:#027733
}
h3{
    margin: 20px 0px;
    font-size:30px;
   font-family: 'Sorts Mill Goudy', serif;
}
/**index-rating**/
.rating {
     height:auto;
    width:100%;
    background-color:#f1f1f1;
    color:black;
}

.rating>.content{
    padding-top:25px;
    padding-bottom:25px;
    font-size:28px;
    
/**image overlay**/
}

.overtext{
    margin:10px 15px;
}


.adventure{
    background-color: white;
    height:auto;
    padding:0px !important;
}
.adventure .content{
    padding: 15px;
    line-height: 30px;
    font-size: 16px;
}

.abc{
   background-image:url('http://res.cloudinary.com/dgezrstzt/image/upload/v1501618174/relaxs_zzte7o.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 350px;
}

.cde{
   background-image:url('http://res.cloudinary.com/dgezrstzt/image/upload/v1502500269/rough_uuf59a.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 350px;
}
    .bcd{
   background-image:url('http://res.cloudinary.com/dgezrstzt/image/upload/v1501829762/journey_d2uebr.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 350px;
}

.efg{
   background-image:url('http://res.cloudinary.com/dgezrstzt/image/upload/v1501617250/sea_ng1a4w.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 350px;
}
.xyz{
   background-image:url('http://res.cloudinary.com/dgezrstzt/image/upload/v1502500528/river-fish-_uekdmt.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 350px;  
}
.container-fluid{
padding:0px !important;
    margin: 0px !important;
}


.culture{
    background-color: white;
    height:auto;
    padding:0px !important;
    }

.culture .content{
    padding: 15px;
    line-height: 30px;
    font-size: 16px;
}

.nature{
    background-color: white;
    height:auto;
    padding:0px !important;
}
.nature .col-md-6{
    margin:0px;
    padding:0px;
}
.nature .content{
   padding: 15px;
    line-height: 30px;
    font-size: 16px;
}

/**highlights**/

.introp{
    text-align: left;
    padding:15px 30px;
}
.booking{
    height:auto;
    background-color:#f1f1f1;
    margin-bottom: 10px;
}
#book-content{
    padding: 45px;
    background-color: #f1f1f1;
}
.booking>.content{
    padding:40px 35px;
}
.forum{
    margin:20px 300px;
    width:auto;
}

@media screen and (max-width:1199px){
    .forum{
        margin:15px 200px;
    }
    .contact>.par{
    margin:20px 120px;
    }
    .carousel-caption{
    margin:150px ;
    
}
     
    
}

@media screen and (max-width:991px){
    .forum{
        margin:15px 150px;
    }
    .contact>.par{
    margin:20px 80px;
    }
    .carousel-caption{
    margin:150px 100px;
    
}
     
}
@media screen and (max-width:767px){
    .forum{
        margin:10px 100px;
        
    }
    .contact>.par{
    margin:20px 40px;
    }
    .carousel-caption{
    margin:-30px 5px 0px 5px;
    font-size:12px;
    
}
}
@media screen and (max-width:479px){
    .forum{
        margin:0px 0px;
    }
    .contact>.par{
    margin:20px 20px;
    }
     .carousel-caption{
    margin:-30px 5px 0px 5px;
    font-size:12px;
}
}

.nig{
    background-color: #027733;
    border: none;
    text-align: center;
    
}
.award{
  /*depnding on the screen size the pixel should change automatically, but just adding width for demo. Change the width to 200,300,500, 1000. should work*/
  width:700px;
  max-width:100%;
}
.aw-img{
   display: flex; 
    justify-content: space-around;
    margin:10px 40px;
}
.imga{
  width: 17%;
  height:auto;
}


.feat{
    text-align: center;
   padding-top: 15px;
    font-size: 25px;
}

.overviewcontent{
    margin-top:60px; 
}


.line{
    margin-top: 5px;
    margin-bottom: 5px;
    height:1px;
}


.contain{
  position: relative;
 
  padding:0px;
  margin:0px;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
    opacity: 0.8;
   padding:0px;
  margin:0px;
}

.contain:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.contain .col-md-6 {
  padding: 0;
}


.review{
     height:250px;
    background-color: bisque;
}
.review>.content{
    padding:40px 60px 40px 60px;
}



.overview-header{
    width:100%;
    max-height:590px;
    
}
.overimage {
  width: 100%;
  object-fit: cover;
     max-height:590px;
  }

.overview>.content{
    margin:25px 40px;
    border:1px solid #027733;
    height:auto;
}

.overview>.content>.aboutus{
    margin:25px 40px;
}
.values{
    margin:20px 30px;
}
.values .content{
    margin:30px 20px;
    border-color:none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.values .val{
    margin:15px 20px;
    text-align: left;
}

.lodges{
    margin:15px 45px 15px 45px;
}
.lodges>.intro{
    border:1px solid #027733;
    height:auto;
}

.lodges>.intro>.content{
    margin:10px;
    background-color: darkgrey;
}


.room{
    margin-top: 30px;
    margin-bottom: 30px;
}
.room>.intro{
    border: 1px solid #027733;
    height:auto;
     margin-top: 30px;
    margin-bottom: 30px;
}

.room>.intro>.content{
    margin:10px;
    background-color: darkgrey;
}
.room>.intro>.content>.col-md-8{
    border:1px solid #027733;
}

.room>.intro>.content>.col-md-4{
    border: 1px solid #027733;
}
.register .row{
    margin-top:60px;
}
.register>.intro{
    height:200px;
    width:100%;
    margin-top: 60px;
    
}
#book-content{
    margin: 95px 60px !important;
    border: 1px solid #027733;
}
.record{
    margin:60px 60px;
    height:auto;
    border: 1px solid #027733;
   
}
.record form{
    margin:60px 100px;
    padding-bottom: 20px;
}


/**Offers**/
.offers{
    margin-top: 80px;
    margin-bottom: 50px;
}

.offers>.div{
    margin:40px 60px;
    border: 1px solid #027733;
}

.offers .off{
    padding:20px 25px;
}
/**Activities**/
.activities{
    margin-top: 80px;
    margin-bottom: 50px;
}

.activities>.div{
    margin:40px 60px;
    border: 1px solid #027733;
}
.activities .at{
    margin-right: 0px;
    padding-right: 0px;
}
.activities .par{
    padding: 30px 0px 0px 50px;
}
.act{
    float:right;
}

/**contact**/
.contact{
    margin-top: 60px;
}

.contact>.intro{
    height:auto;
    width:100%;
    margin-top: 80px;
   
    
}
.contact>.intro>.content{
    margin: 45px 100px;
    border: 1px solid #027733;
}
.contact .par{
   
    background-color: #f1f1f1;
}
.subbut{
    background-color:green;
    color:white;
}
.careers .row{
    background-color:#f1f1f1;
}
/**career**/

.careers .intro
{
   height:370px;
}

.careers .content{
    padding:40px 40px;
}



/**footer**/
.footer{
    background-color: black;
    text-decoration: none;
    color:aliceblue;
    width:100%;
   
   
}   
.footer>.content{
    padding:35px 70px;
}
.footer .left{
    padding-left: 60px;
    
}

#foot{
     padding:35px 0px 0px 10px;
}
 .footer a:link, .footer a:visited {
    
    color: white;
   
    text-align: center; 
    text-decoration: none;
   
}

.footer a:hover, .footer a:active {
    color: gainsboro;
}
.span12{
    color:white;
    background-color: grey;
}

.subs{
    

}
.email{
    margin-right: 0px !important;
    padding-right: 0px !important;
}
.subs .col-xs-10{
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.subs .col-xs-2{
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.sutta{
    margin: auto;
}
.social{
    margin-left: 0px;
    padding-left: 13px;
   
}

.fa {
    
    font-size: 60px;
   padding:4px;
    text-align:right;
    text-decoration: none;
  font-size:30px !important;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    color:beige;
}
.contact{
    word-spacing: 10px;
    margin-top: 10px;
}
.copyright{
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: black;
    color: white;
}



