body, html { 
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;

}
.nav a:hover { 

text-decoration: none; 
}

.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     display: block;
     width: 100%;
     height: 582px; !important;
}
     
     .footer{
    background-color: black;
    
    text-decoration: none;
    color:aliceblue;
    width:100%;
   
   
}   
        .footer a:link, .footer a:visited {
    
    color: white;
   
    text-align: center; 
    text-decoration: none;
   
}

.footer a:hover, .footer a:active {
    color: gainsboro;
}
.span12{
    color:white;
    background-color: grey;
}

.subs{
    
   
    padding-right: 80px;
    padding-left: 80px;
}
.social{
    margin-left: 0px;
    padding-left: 13px;
}

.fa {
    padding: 4px;
    font-size: 30px;
    
    text-align:right;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    color:beige;
}
.contact{
    word-spacing: 10px;
}
.copyright{
    padding-top:  -top: 16px;
    padding-bottom: 16px;
    background-color: black;
    color: white;
}

#pics{
    
    width:100%;
    height:600px;
}
.navbar{
    overflow: hidden;
}
.adventure{
    background-color: white;
    height:330px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.culture{
    background-color: white;
    height:330px;
    margin-left: -10px;
     margin-top: 15px;
    margin-bottom: 15px;
}

.nature{
    background-color: white;
    height:330px;
     margin-top: 15px;
    margin-bottom: 15px;
}


.content{
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}



.feat{
    text-align: center;
   padding-top: 15px;
    font-size: 25px;
}

.overviewcontent{
    margin-top:60px; 
}

.home{
    padding-left: 35px;
    padding-right: 35px;
    line-height: 30px;
    font-size: 20px;
}
.line{
    margin-top: 5px;
    margin-bottom: 5px;
    height:1px;
}
.intro{
    height:200px;
    width:100%;
}
.rating {
     height:200px;
    width:100%;
    background-color:darkslateblue;
    color:white;
}

.rating>.content{
    padding-top:25px;
    padding-bottom:25px;
    font-style: italic;
        font-size:28px;
}
.contain{
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
    padding:0px;
    margin: 0px;
     position:relative;
  bottom: 0;
  left: 0;
  right: 0;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
    opacity: 0.8;
}

.contain:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}